<extend name="Base/layout_list"/>
<block name="body">
    <style>
        .required{width:100px;}
    </style>
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <h3> &nbsp;&nbsp;密码管理</h3>
            </div>
        </div>
        <div class="fixed-empty"></div>
        <form id="edit_form13" method="post" action="{:U('vipmima13')}">
            <table class="table tb-type2">
                <tbody>
                <tr class="noborder">
                    <td class="required" style="width: 150px;"><label class="validation" for="pwds13" >修改VIP等级管理密码：</label></td>
                    <td class="vatop rowform">
                        <!--<input id="idd" name="idd" type="hidden" class="txt valid" value="{$userinfo.id}">-->
                        <input id="pwds13" name="pwds13" type="text"  value="{$pwds13}">
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="pwds1">修改VIP等级管理确认密码：</label></td>
                    <td class="vatop rowform">
                        <!--<input id="idd" name="idd" type="hidden" class="txt valid" value="{$userinfo.id}">-->
                        <input id="pwds113" name="pwds113" type="text"  value="">
                    <td class="vatop tips"></td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a id="back" href="javascript:void(0)" class="btn"><span>返回</span></a>
                        <a id="submit13" href="javascript:void(0)" class="btn"><span>提交</span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
        <div class="fixed-empty"></div>
        <form id="edit_form14" method="post" action="{:U('vipmima14')}">
            <table class="table tb-type2">
                <tbody>
                <tr class="noborder">
                    <td class="required" style="width: 150px;"><label class="validation" for="pwds14" >修改拨比设置密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds14" name="pwds14" type="text"  value="{$pwds14}">
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="pwds114">修改拨比设置确认密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds114" name="pwds114" type="text"  value="">
                    <td class="vatop tips"></td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a id="back" href="javascript:void(0)" class="btn"><span>返回</span></a>
                        <a id="submit14" href="javascript:void(0)" class="btn"><span>提交</span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
        <div class="fixed-empty"></div>
        <form id="edit_form15" method="post" action="{:U('vipmima15')}">
            <table class="table tb-type2">
                <tbody>
                <tr class="noborder">
                    <td class="required" style="width: 150px;"><label class="validation" for="pwds15" >修改代理商设置拨比密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds15" name="pwds15" type="text"  value="{$pwds15}">
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="pwds115">修改代理商设置拨比确认密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds115" name="pwds115" type="text"  value="">
                    <td class="vatop tips"></td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a id="back" href="javascript:void(0)" class="btn"><span>返回</span></a>
                        <a id="submit15" href="javascript:void(0)" class="btn"><span>提交</span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
        <div class="fixed-empty"></div>
        <form id="edit_form16" method="post" action="{:U('vipmima16')}">
            <table class="table tb-type2">
                <tbody>
                <tr class="noborder">
                    <td class="required" style="width: 150px;"><label class="validation" for="pwds16" >修改推荐人设置输入密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds16" name="pwds16" type="text"  value="{$pwds16}">
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="pwds116">修改推荐人设置输入确认密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds116" name="pwds116" type="text"  value="">
                    <td class="vatop tips"></td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a id="back" href="javascript:void(0)" class="btn"><span>返回</span></a>
                        <a id="submit16" href="javascript:void(0)" class="btn"><span>提交</span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
        <div class="fixed-empty"></div>
        <form id="edit_form17" method="post" action="{:U('vipmima17')}">
            <table class="table tb-type2">
                <tbody>
                <tr class="noborder">
                    <td class="required" style="width: 150px;"><label class="validation" for="pwds17" >确认打款设置输入密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds17" name="pwds17" type="text"  value="{$pwds17}">
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="pwds117">确认打款设置输入确认密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds117" name="pwds117" type="text"  value="">
                    <td class="vatop tips"></td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a id="back" href="javascript:void(0)" class="btn"><span>返回</span></a>
                        <a id="submit17" href="javascript:void(0)" class="btn"><span>提交</span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
        <div class="fixed-empty"></div>
        <form id="edit_form20" method="post" action="{:U('vipmima20')}">
            <table class="table tb-type2">
                <tbody>
                <tr class="noborder">
                    <td class="required" style="width: 150px;"><label class="validation" for="pwds20" >冻结/解冻用户资金输入密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds20" name="pwds20" type="text"  value="{$pwds20}">
                    <td class="vatop tips"></td>
                </tr>
                <tr class="noborder">
                    <td class="required"><label class="validation" for="pwds117">冻结/解冻用户资金设置输入确认密码：</label></td>
                    <td class="vatop rowform">
                        <input id="pwds120" name="pwds120" type="text"  value="">
                    <td class="vatop tips"></td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a id="back" href="javascript:void(0)" class="btn"><span>返回</span></a>
                        <a id="submit20" href="javascript:void(0)" class="btn"><span>提交</span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
    <script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery-ui/jquery.ui.js"></script>
    <script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery-ui/i18n/zh-CN.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__ADMIN_RESOURCE__/resource/js/jquery-ui/themes/ui-lightness/jquery.ui.css"  />
    <script type="text/javascript">
        $(function(){
            //VIP等级管理确认密码
            $("#submit13").click(function(){
                $('#edit_form13').submit();
            });
            $("#submit14").click(function(){
                $('#edit_form14').submit();
            }); $("#submit15").click(function(){
                $('#edit_form15').submit();
            });
            $("#submit16").click(function(){
                $('#edit_form16').submit();
            });
            $("#submit17").click(function(){
                $('#edit_form17').submit();
            });$("#submit20").click(function(){
                $('#edit_form20').submit();
            });
            $("#back").click(function(){
                history.go(-1);
            });
        });
    </script>
</block>
<block name="js">
    <link href="__STATIC__/main/uploadify/uploadify.css" rel="stylesheet" type="text/css">
    <script src="__STATIC__/main/uploadify/jquery.uploadify.min.js"></script>
    <script>
        $(function(){

        });
    </script>
</block>
<block name="style">
    <style>
        .imgPreview img{width:300px;height:150px;}
    </style>
</block>

