<extend name="Base/layout_list"/>
<block name="body">


<link href="__ADMIN_RESOURCE__/default/css/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<!--[if IE 7]>
<link rel="stylesheet" href="__ADMIN_RESOURCE__/default/css/font/font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->
<div class="page">
<div class="fixed-bar">
    <div class="item-title">
        <h3>报名管理</h3>
        <ul class="tab-base">
            <!--<li><a href="{:U('blackaccount_add')}"><span>添加</span></a></li>-->
        </ul>
    </div>
</div>
<div class="fixed-empty"></div>


<form method='post' id="form_apply" action="">
    <style>

        #newslist img{
            width:80px;
            height:60px;
        }
    </style>
    <table class="table tb-type3" id="newslist">
        <thead>
        <tr class="thead">
            <th class="w12">ID</th>
            <!--<th class="w60">报名期数</th>-->
            <th class="w60">用户id</th>
            <th class="w60">真实姓名</th>
            <th class="w60">性别</th>
            <th class="w60">年龄</th>
            <th class="w60">电话</th>
            <th class="w60">地址</th>
            <th class="w60">身份证</th>
            <!--<th class="w60">银行名称</th>-->
            <!--<th class="w60">银行卡号</th>-->
            <!--<th class="w60">申请说明</th>-->
            <th class="w60">申请时间</th>
            <th class="w108 align-center">操作</th>
        </tr>
        </thead>
        <tbody>
            <empty name="list">
                <tr>
                    <td colspan="14" style="text-align: center;">
                        无记录
                    </td>
                </tr>
            </empty>
            <volist name="list" id="news">
                <tr>
                    <td>{$news.id}</td>
                    <!--<td>{$news.periods|get_periods}</td>-->
                    <td>{$news.user_id}</td>
                    <td>{$news.username}</td>
                    <td>{$news.gender}</td>
                    <td>{$news.age}</td>
                    <td>{$news.mobile}</td>
                    <td>{$news.addr}</td>
                    <td>{$news.card_id}</td>
                    <!--<td>{$news.bank_name}</td>-->
                    <!--<td>{$news.bank_id}</td>-->
                    <!--<td>{$news.explain}</td>-->
                    <td>{$news.addtime|dateformat}</td>

                    <td>
                        <a class="btn" href="{:U('dele_sign',array('id'=>$news['id']))}"><span>删除</span></a>
                        <select  id="quota_style{$news.id}" style="width:140px" name="quota_style">
                            <if condition="$news.status eq 1">
                                <option value="1">待审核</option>
                            </if>
                            <if condition="$news.status eq 2">
                                <option value="2">已通过</option>
                            </if>
                            <if condition="$news.status eq 3">
                                <option value="3">被驳回</option>
                            </if>

                            <option value="1">待审核</option>
                            <option value="2">已通过</option>
                            <option value="3">被驳回</option>
                        </select>
                        <br/>
                        备注：<input value="{$news.ccc_content}" placeholder="备注" id="jjj{$news.id}"/>
                        &nbsp;<a class="btn" onclick="quota_style({$news['id']})"><span>修改申请状态</span></a>
                    </td>
                </tr>
            </volist>

        <tr style="display:none;">
            <td colspan="20"><div class="ncsc-goods-sku ps-container"></div></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="tfoot">

            <td colspan="15">
                &nbsp;&nbsp;
                {$pages}

            </td>
        </tr>
        </tfoot>
    </table>
</form>
</div>

<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/dialog/dialog.js" id="dialog_js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery-ui/jquery.ui.js"></script>
<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/common_select.js" charset="utf-8"></script>

<script type="text/javascript">
    function quota_style(e){

        var status=$("#quota_style"+ e ).val();
        var ccc_content=$("#jjj"+ e ).val();
        $.ajax({
            type:'post',
            url:"{:U('Admin/Agent/quota_style')}",
            data:{id:e,status:status,ccc_content:ccc_content},
            success:function(msg){

                if(msg.status==200){
                    layer.msg(msg.info,{icon:6,time:2000});
                    setTimeout(function () {
                        location.reload();
                    }, 1500);
                }else{
                    layer.msg(msg.info,{icon:2,time:2000});return false;

                }
            }
        });
    };

    var SITEURL = "/";
    $(function(){
        //商品分类
        //init_gcselect('gc_choose_json','gc_json');
        /* AJAX选择品牌 */
        //$("#ajax_brand").brandinit();

        $('#ncsubmit').click(function(){
            $('input[name="op"]').val('goods');$('#formSearch').submit();
        });

        // 违规下架批量处理
        $('a[nctype="lockup_batch"]').click(function(){
            str = getId();
            if (str) {
                goods_lockup(str);
            }
        });

        // ajax获取商品列表
        $('i[nctype="ajaxGoodsList"]').toggle(
                function(){
                    $(this).removeClass('icon-plus-sign').addClass('icon-minus-sign');
                    var _parenttr = $(this).parents('tr');
                    var _commonid = $(this).attr('data-comminid');
                    var _div = _parenttr.next().find('.ncsc-goods-sku');
                    if (_div.html() == '') {
                        $.getJSON('index.php?act=goods&op=get_goods_list_ajax' , {commonid : _commonid}, function(date){
                            if (date != 'false') {
                                var _ul = $('<ul class="ncsc-goods-sku-list"></ul>');
                                $.each(date, function(i, o){
                                    $('<li><div class="goods-thumb" title="商家货号：' + o.goods_serial + '"><a href="' + o.url + '" target="_blank"><image src="' + o.goods_image + '" ></a></div>' + o.goods_spec + '<div class="goods-price">价格：<em title="￥' + o.goods_price + '">￥' + o.goods_price + '</em></div><div class="goods-storage">库存：<em title="' + o.goods_storage + '">' + o.goods_storage + '</em></div><a href="' + o.url + '" target="_blank" class="ncsc-btn-mini">查看商品详情</a></li>').appendTo(_ul);
                                });
                                _ul.appendTo(_div);
                                _parenttr.next().show();
                                // 计算div的宽度
                                _div.css('width', document.body.clientWidth-54);
                                _div.perfectScrollbar();
                            }
                        });
                    } else {
                        _parenttr.next().show()
                    }
                },
                function(){
                    $(this).removeClass('icon-minus-sign').addClass('icon-plus-sign');
                    $(this).parents('tr').next().hide();
                }
        );
    });

    // 获得选中ID
    function getId() {
        var str = '';
        $('#form_goods').find('input[name="id[]"]:checked').each(function(){
            id = parseInt($(this).val());
            if (!isNaN(id)) {
                str += id + ',';
            }
        });
        if (str == '') {
            return false;
        }
        str = str.substr(0, (str.length - 1));
        return str;
    }

    // 商品下架
    function goods_lockup(ids) {
        _uri = "/index.php?act=goods&op=goods_lockup&id=" + ids;
        CUR_DIALOG = ajax_form('goods_lockup', '违规下架理由', _uri, 350);
    }
</script>


</block>