<extend name="Base/layout_list"/>
<block name="body">
    <style>
        .required{width:100px;}
    </style>
    <div class="page">
        <div class="fixed-bar">
            <div class="item-title">
                <h3> &nbsp;&nbsp;公司团队</h3>
            </div>
        </div>
        <div class="fixed-empty"></div>
        <form id="edit_form" method="post" action="">
            <table class="table tb-type2">
                <tbody>

                <tr class="noborder">
                    <td class="required"><label class="validation">团队详情：</label></td>
                    <td class="vatop rowform" colspan="2">
                        <input id="title" name="title" type="hidden" class="txt valid" value="关于我们">
                        <input id="type" name="type" type="hidden" class="txt valid" value="2">
                        <textarea id="content" name="content" style="width:700px;height:300px;">{$news.content}</textarea>
                        <script src="__STATIC__/kindeditor/kindeditor.js" charset="utf-8"></script>
                        <script src="__STATIC__/kindeditor/lang/zh_CN.js" charset="utf-8"></script>
                        <script>
                            KindEditor.ready(function(K) {
                                var editor1 = K.create('textarea[name="content"]', {
                                    uploadJson : '__STATIC__/kindeditor/php/upload_json.php',
                                    fileManagerJson : '__STATIC__/kindeditor/php/file_manager_json.php',
                                    allowFileManager : true,
                                    filterMode:false,
                                    syncType:"form",
                                    urlType:'domain',
                                    afterCreate : function() {
                                        var self = this;
                                        self.sync();
                                    },
                                    afterChange : function() {
                                        var self = this;
                                        self.sync();
                                    },
                                    afterBlur : function() {
                                        var self = this;
                                        self.sync();
                                    }

                                });
                            });
                        </script>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a id="back" href="javascript:void(0)" class="btn"><span>返回</span></a>
                        <a id="submit" href="javascript:void(0)" class="btn"><span>提交</span></a>
                    </td>
                </tr>
                </tfoot>
            </table>
        </form>
    </div>
    <script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery-ui/jquery.ui.js"></script>
    <script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery-ui/i18n/zh-CN.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href="__ADMIN_RESOURCE__/resource/js/jquery-ui/themes/ui-lightness/jquery.ui.css"  />
    <script type="text/javascript">
        $(function(){



            $("#submit").click(function(){
                var title = $('#title').val();

                if(title==''){
                    alert('标题不能为空');
                    return;
                }

                $('#edit_form').submit();
            });
            $("#back").click(function(){
                history.go(-1);
            });
        });
    </script>
</block>
<block name="js">
    <link href="__STATIC__/main/uploadify/uploadify.css" rel="stylesheet" type="text/css">
    <script src="__STATIC__/main/uploadify/jquery.uploadify.min.js"></script>
    <script>
        $(function(){

        });
    </script>
</block>
<block name="style">
    <style>
        .imgPreview img{width:300px;height:150px;}
    </style>
</block>

