@charset "utf-8";
/* CSS Document */

.sp-header-logo:after,.sp-nav-box:after { content:'\20';  height:0; clear:both; display:block; }
.clearBoth {*zoom:1; width:auto; height:auto; overflow:hidden; }

.main-nav{width:980px; margin:0 auto; padding-top:10px; margin-bottom:10px;}
.main-nav a{color:#999;}

/* header */
.sp-header{height: 105px;border-bottom: 5px solid #00a8df;overflow: hidden;background: url(../img/index-header-bg.png) repeat-x left bottom; text-align:left; min-width:1000px; _width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1000?"1000px":"");}
.sp-header-wapper{width: 970px;margin: auto;}
.sp-header a{color:#888;}
.sp-header a:hover{text-decoration:underline;}
.sp-header .bluelink{color:#007DB3;}




/* header logo */
.sp-header-logo{height: 60px;overflow: hidden;}
/* link */
.sp-logo{/*width: 307px; height: 60px;*/ width: 307px; height: 28px; margin-top:20px; display: block;float: left;background: url(../img/logo.png) no-repeat 0 0px;text-indent: -9999px;}
.sp-logo-flash{width: 307px; height: 28px; float: left;}
.sp-biz-service{float: right; display: inline-block; width:95px; height:19px; background-position: 0px -222px;text-indent: -9999px; margin-top:15px;}


/* header login&regsiter */
.sp-control-nav{float:right;margin-top: 15px; list-style: none;font-family:SimSun;font-size:12px;}
.sp-control-nav li{float:left;margin: 0px;padding: 0px 6px;}
.control-nav-right-dotted{background-image: url(../img/sp-line-dotted.png);background-repeat:  no-repeat;background-position: right center;_background-position: right 2px;}
.control-nav-right-solid{background-image: url(../img/sp-line-solid.png);background-repeat:  no-repeat;background-position: right center;_background-position: right 2px;}
/* index nav */
.sp-biz-service,.sp-ser-assistant,.sp-ser-scard,.sp-ser-spm,.sp-link-index,.sp-link-service,.shover,.sp-link-coupon,.sp-link-credits,.sp-index-current,.sp-service-current,.sp-coupon-current,.sp-credits-current,.sp-my-current,.sp-link-my{background-image: url(../img/index-nav.png);background-repeat: no-repeat;}
.sp-nav-box{}
.sp-nav{float: left;list-style: none; margin:0px; padding:0px;}
.sp-nav li{padding: 0px;margin: 0px;float: left;}
.sp-link-index{display:block;height: 35px;width: 110px;text-indent: -9999px;background-position: 4px -12px; margin-top:10px; }
.sp-link-service{position: relative; display:block;height: 35px;width: 110px;text-indent: -9999px;background-position: -136px -12px;margin-top:10px;}
.serviceHover{display:block;height: 35px;width: 110px;text-indent: -9999px; background-position: -136px -53px}
.sp-link-coupon{display:block;height: 35px;width: 110px;text-indent: -9999px;background-position: -252px -2px}
.sp-link-credits{display:block;height: 35px;width: 110px;text-indent: -9999px;background-position: -355px -12px;margin-top:10px;}
.sp-link-my{display:block;height: 35px;width: 128px;text-indent: -9999px;background-position: -272px -128px;margin-top:10px;}
.sp-link-my:hover{background-position: -132px -128px}
a.new-survey{background:url(../img/index-nav.png) no-repeat 0px -255px; height:17px; width:59px; display:inline-block;}
a.new-survey:hover{background:url(../img/index-nav.png) no-repeat -80px -255px;}

#J_showPrList{margin-left:20px;}
.sp-link-index:hover{display:block;height: 35px;width: 110px;text-indent: -9999px;background-position: 4px -53px }

.sp-link-coupon:hover{display:block;height: 35px;width: 110px;text-indent: -9999px;background-position: -252px -46px }
.sp-link-credits:hover{display:block;height: 35px;width: 110px;text-indent: -9999px;background-position: -355px -53px }

.sp-index-current{background-color: #00a8df;background-position: 4px -93px}
.sp-service-current{background-color: #00a8df;background-position: -129px -93px; width:125px;}
.sp-coupon-current{background-color: #00a8df;background-position: -252px -86px}
.sp-credits-current{background-color: #00a8df;background-position: -355px -93px}
.sp-my-current{background-color: #00a8df;background-position: -12px -127px}

.sp-index-current:hover{background-color: #00a8df;background-position: 4px -93px}
.sp-service-current:hover{background-color: #00a8df;background-position: -129px -93px}
.sp-coupon-current:hover{background-color: #00a8df;background-position: -252px -93px}
.sp-credits-current:hover{background-color: #00a8df;background-position: -355px -93px}
.sp-my-current:hover{background-position: -12px -127px}

/* index sub nav */
.sp-sub-nav-box{position: absolute;font-family:SimSun;font-size:12px;z-index:11; *width:460px;}
.sp-icon-arrow{float: left;position:absolute;margin-left: 40px;margin-top: -9px; display: block; width: 14px;height: 7px;background-position: 0px -293px;}
.sp-sub-nav{border:1px solid #d7d6d6;background-color: #FFF;line-height: 21px;padding-top: 2px;}
.sp-sub-nav-title{color: #474747;padding-left: 10px !important;padding-right: 30px;margin-bottom: 8px;  background-color: #f4f4f4;font-weight: 700}
.sp-sub-nav-list{list-style: none;}
.sp-sub-nav-list li{ margin: 0px;clear: left;}
.sp-sub-nav-table td{border-right:1px solid #DEDEDE; padding:3px 20px 3px 0px; margin:0px;}
.sp-sub-nav-table td.last{border-right:0px;}
.sp-sub-nav-table a{display:block;padding:0px 10px; border-radius:2px;}
.sp-sub-nav-table a:hover{background-color:#00A8DF; color:#fff; text-decoration:none;}
.sp-table-right{border-right: 1px solid #ececec;}

/*nav-sub*/
.nav-sub-box{background-color:#CCE7EE; height:34px; font-size:14px; text-align:left; margin-bottom:10px;}
.nav-sub-bd{width:970px; margin:0 auto;line-height:34px;}
.nav-sub-title{display:inline-block; padding-right:10px; color:#666; font-weight:bold; background:url(../../img/sp/index-nav.png) right -253px; margin-right:15px; font-size:14px;}
.nav-sub-bd a{display:inline-block; height:34px; padding:0 15px; color:#333; text-decoration:none; font-size:14px; }
.nav-sub-bd b{font-weight:normal; color:#B9B9BB; display:inline-block; width:12px; _zoom:1;}
.nav-sub-bd .cur{background-color:#e7faff; font-weight:bold;}

#J_preferenceList .sp-sub-nav{margin-left:35px; margin-top:8px;*width:100px;}
#J_showPreferenceList .sp-sub-nav-box{*width:480px;}
#J_preference_menu .sp-sub-nav-table td{border:none; padding:3px 2px;}
#J_preferenceList .sp-icon-arrow{margin-left:12px;}



.sp-footer{margin-top:20px; color:#666;background-color: #f4f4f4;font-family:SimSun;font-size:12px; text-align:center;}
.footer-iframe{width:970px; height:160px;}

