<extend name="Base/layout_list"/>
<block name="body">


<link href="__ADMIN_RESOURCE__/default/css/font/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<!--[if IE 7]>
<link rel="stylesheet" href="__ADMIN_RESOURCE__/default/css/font/font-awesome/css/font-awesome-ie7.min.css">
<![endif]-->
<div class="page">
<div class="fixed-bar">
    <div class="item-title">
        <h3>团队管理</h3>
        <ul class="tab-base">
            <!--<li><a href="JavaScript:void(0);" ><span>全部成员</span></a></li>-->

            <!--<li><a href="{:U('agent')}"><span>代理商</span></a></li>-->
            <!--<li><a href="{:U('merchant')}"><span>商户</span></a></li>-->
            <!--<li><a href="{:U('broker')}" class="current"><span>经纪人</span></a></li>-->
            <!--<li><a href="{:U('member')}"><span>普通用户</span></a></li>-->

        </ul>
    </div>
</div>
<div class="fixed-empty"></div>
    <form method="post" name="formSearch" action="{:U('jintie')}" id="formSearch">

        <table class="tb-type1 noborder search">
            <tbody>
            <tr>
                <th><label for="mobile"> 手机号码</label></th>
                <td><input type="text" value="{$mobile}" name="mobile" id="mobile" class="txt"></td>
                <th><label for="truename">会员姓名</label></th>
                <td><input type="text" value="{$truename}" name="truename" id="truename" class="txt" /></td>

                <td ><a href="javascript:void(0);" id="ncsubmit" class="btn-search " title="查询">&nbsp;</a></td>
            </tr>

            </tbody>
        </table>
    </form>


<form method='post' id="form_goods" action="">
    <input type="hidden" name="form_submit" value="ok" />
    <table class="table tb-type3">
        <thead>
        <tr class="thead">
            <th class="w24 align-center"></th>
            <th class="w60">手机号</th>
            <th class="w60">成员姓名</th>
            <th class="w60">账号昵称</th>
            <th class="w72">会员id</th>
            <th class="w72">注册时间</th>
            <th class="w72">个人消费金额</th>
            <th class="w72">翡翠<if condition="$dengji eq 1">爱<else/>恋</if>人数</th>
            <if condition="$dengji eq 3">
                <th class="w72">当前拨比</th>
            </if>

            <if condition="$dengji eq 1">
                <th class="w72">团队消费金额</th>
            </if>

            <th class="w72">等级</th>
            <th class="w108 align-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr class="" style="">
            <volist name="list" id="user">
                <tr>
                    <td><input type="checkbox" name="id[]" value="{$user.id}" class="checkitem"></td>
                    <td>{$user.mobile}</td>
                    <td>{$user.truename}</td>
                    <td>{$user.username}</td>
                    <td>{$user.user_id}</td>

                    <td>{$user['addtime']|dateformat}</td>
            <td>{$user.user_id|hesuan}(元)</td>
            <td>{$user.user_id|is_xiaji}(人)</td>
            <if condition="$dengji eq 3">
                <td>{$user.user_id|ren}%</td>

            </if>
            <if condition="$dengji eq 1">
            <td>{$user.user_id|team_hesuan}(元)</td>
            </if>
                     <!--<td> <a class="" href=""><if condition="$user.is_vip eq 0"><font color="green">百万俱乐部</font></if><if condition="$user.is_vip eq 1"><font color="green">千万俱乐部</font></if><if condition="$user.is_vip eq 2"><font color="green">私董俱乐部</font></if><if condition="$user.is_vip eq 3"><font color="blue">普通团队</font></if></a>&nbsp;&nbsp;</td>-->
            <td>{$user.jibie}</td>
            <td>
                <if condition="$dengji lt 3">
                    <a class="" href="{:U('Healthyshop/jintie',array('tj_id'=>$user['user_id'],'dengji'=>$dengji))}">我的【{$dengji}】级会员</a>&nbsp;&nbsp;
                    |
                </if>

                        &nbsp;  <a class="" href="{:U('Order/index',array('user_id'=>$user['user_id']))}">个人消费记录</a>|
                        &nbsp;  <a class="" href="{:U('Order/xiaofei',array('user_id'=>$user['user_id']))}">团队消费记录</a>
                        &nbsp;  <a class="" href="{:U('Order/xiaofei1',array('user_id'=>$user['user_id']))}">结算</a>
                    </td>
                </tr>
            </volist>
        </tr>
        <tr style="display:none;">
            <td colspan="20"><div class="ncsc-goods-sku ps-container"></div></td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="tfoot">
            <td><input type="checkbox" class="checkall" id="checkallBottom"></td>
            <td colspan="16"><label for="checkallBottom">全选</label>
                &nbsp;&nbsp;
                {$pages}

            </td>
        </tr>
        </tfoot>
    </table>
</form>
</div>

<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/dialog/dialog.js" id="dialog_js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery-ui/jquery.ui.js"></script>
<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/jquery.mousewheel.js"></script>
<script type="text/javascript" src="__ADMIN_RESOURCE__/resource/js/common_select.js" charset="utf-8"></script>

<script type="text/javascript">
    var SITEURL = "/";
    $(function(){

        $('#ncsubmit').click(function(){
            $('input[name="op"]').val('goods');$('#formSearch').submit();
        });

    });

    // 获得选中ID
    function getId() {
        var str = '';
        $('#form_goods').find('input[name="id[]"]:checked').each(function(){
            id = parseInt($(this).val());
            if (!isNaN(id)) {
                str += id + ',';
            }
        });
        if (str == '') {
            return false;
        }
        str = str.substr(0, (str.length - 1));
        return str;
    }

</script>


</block>